<div class="table-title">
    <h3>Create DocumentGroup</h3>
</div>
<div ng-init="init()" align="center">
    <div class="title"><h1>Name</h1></div>
    <input type="text" ng-model="new.name">
    <div class="title"><h1>Description</h1></div>
    <input type="text" ng-model="new.description">
    <div style="padding-top: 20px;">
        <a href="#/documentGroups" class="button" style="margin-top: 30px">Back<span>«</span></a>
        <input type="submit" class="saveButton" value="Save" ng-click="save()"/>
    </div>
</div>