<div class="table-title">
    <h3>Create File</h3>
</div>
<div ng-init="initDocs();init();" align="center">
    <div class="title"><h1>Name</h1></div>
    <input type="text" ng-model="new.name">
    <div class="title"><h1>RootDocument</h1></div>
    <select ng-model="new.rootDocument" ng-options="doc.name for doc in docs"></select>
    <div>
        <p></p>
        <input type="submit" class="saveButton" value="Save" ng-click="save()"/>
    </div>
    <div>
        <a href="#/files" class="button" style="margin-top: 30px">Back<span>«</span></a>
    </div>
</div>