<div class="table-title">
    <h3>Create User</h3>
</div>
<div ng-init="initUsers()" align="center">
    <div class="title"><h1>Name</h1></div>
    <input type="text" ng-model="new.name">
    <div class="title"><h1>Role</h1></div>
    <select id="roleSelection" ng-model="new.role" ng-options="role for role in roles"></select>
    <div class="title"><h1>Groups(CTRL+click for multiple selection)</h1></div>
    <select id="groupSelection" multiple="true" ng-model="new.groups"
            ng-options="group.name for group in groups"></select>
    <div>
        <a href="#/users" class="button" style="margin-top: 30px">Back<span>«</span></a>
        <input type="submit" class="saveButton" value="Save" ng-click="save()"/>
    </div>
</div>