<div class="table-title">
    <h3>Documents List</h3>
</div>
<table class="table-fill" ng-init="init()">
    <thead>
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Content</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr ng-repeat="x in docs">
        <td class="text-left">{{ x.name }}</td>
        <td class="text-left">{{ x.content }}</td>
    </tr>
    </tbody>
</table>
<div ng-init="initGroupsAndUsers()" align="center">
    <div class="title"><h1>Name</h1></div>
    <input type="text" ng-model="new.name">
    <div class="title"><h1>Content</h1></div>
    <input type="text" ng-model="new.content">
    <div class="title"><h1>Owner</h1></div>
    <select ng-model="new.owner" ng-options="user.name for user in users"/>
    <br/><br/>
    <!--I have no idea, why on earth it does not put new line-->
    <input type="submit" class="saveButton" value="Save" ng-click="save()"/>
    <input type="submit" class="deleteButton" value="Delete All" ng-click="deleteAll()"/>
</div>