<div class="table-title">
    <h3>DocumentGroups List</h3>
</div>
<table class="table-fill" ng-init="init()">
    <thead>
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Description</th>
        <th class="text-left">Documents in this group</th>
        <th class="text-left">Options</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr ng-repeat="x in groups">
        <td class="text-left">{{ x.name }}</td>
        <td class="text-left">{{ x.description }}</td>
        <td class="text-left">{{ x.documents.length }}</td>
        <td><input type="submit" class="deleteButton" value="Delete" ng-click="deleteGroup(x.id)"/></td>
    </tr>
    </tbody>
</table>
<div ng-init="init()" align="center">
    <div class="title"><h1>Name</h1></div>
    <input type="text" ng-model="new.name">
    <div class="title"><h1>Description</h1></div>
    <input type="text" ng-model="new.description">
    <div style="padding-top: 20px;">
        <input type="submit" class="saveButton" value="Save" ng-click="save()"/>
        <input type="submit" class="deleteButton" value="Delete All" ng-click="deleteAll()"/>
    </div>
</div>