<div class="table-title">
    <h3>Documents List</h3>
</div>
<table class="table-fill" ng-init="init()">
    <thead>
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Content</th>
        <th class="text-left">Owner</th>
        <th class="text-left">Groups</th>
        <th class="text-left">Options</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr ng-repeat="x in docs">
        <td class="text-left">{{ x.name }}</td>
        <td class="text-left">{{ x.content }}</td>
        <td class="text-left">{{ x.ownerName }}</td>
        <td class="text-left">{{ x.groupNames }}</td>
        <td><input type="submit" class="deleteButton" value="Delete" ng-click="deleteDoc(x.id)"/></td>
    </tr>
    </tbody>
</table>
<div ng-init="initGroupsAndUsers()" align="center">
    <a href="#/createDocument" class="button" style="margin-top: 30px">Create New Document<img src="/img/plus.png"/></a>
    <input type="submit" class="deleteButton" value="Delete All" ng-click="deleteAll()"/>
</div>