<div class="table-title">
    <h3>Users List</h3>
</div>
<div>
    <table class="table-fill" ng-init="initUsers()">
        <thead>
        <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Role</th>
            <th class="text-left">Groups</th>
            <th class="text-left">Options</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr ng-repeat="x in users">
            <td class="text-left">{{ x.name }}</td>
            <td class="text-left">{{ x.role }}</td>
            <td class="text-left">{{ x.groupNames }}</td>
            <td><input type="submit" class="deleteButton" value="Delete" ng-click="deleteUser(x.id)"/></td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-init="initUsers()" align="center">
    <a href="#/createUser" class="button" style="margin-top: 30px">Create New User<img src="/img/plus.png"/></a>
    <input type="submit" class="deleteButton" style="margin-top: 30px" value="Delete All" ng-click="deleteAll()"/>
</div>